
<!-- Document 

=>The TreeView renders the expand icons only after the children and hasChildren functions are defined.
Link for Kendo treeview ui https://www.telerik.com/kendo-angular-ui/components/treeview/expand-state/
-->

<!-- first Kendo UI - Basic Expanded -->

<kendo-treeview
[nodes]="data"
textField="text"
kendoTreeViewHierarchyBinding
childrenField="items"
[filterable]="true"
[isExpanded]="isExpanded"
(collapse)="handleCollapse($event)"
(expand)="handleExpanded($event)"
kendoTreeViewCheckable
[hasChildren]="hasChildren"
[children]="children"
[(checkedKeys)]="checkedKeys"
>
</kendo-treeview>
<hr/>
<!-- second Kendo UI - Built-in Directives for Expandable -->
<kendo-treeview
 [nodes]="data1"
 textField="text"
 kendoTreeViewHierarchyBinding
 childrenField="items"
 [filterable]="true"
 kendoTreeViewCheckable
 kendoTreeViewExpandable
 [(expandedKeys)]="expandedKeys"
[(checkedKeys)]="checkedKeys"
[children]="fetchChildren"
[hasChildren]="hasChildren1"
>
  
</kendo-treeview>

<!-- <kendo-treeview
[nodes]="program"
textField="lang"
kendoTreeViewHierarchyBinding
childrenField="Items"
[filterable]="true"
kendoTreeViewCheckable
>
</kendo-treeview> -->